*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{

    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{list-style: none;}

button{
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #5955B3;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

button:hover{color: #000;
background-color: #fff;
border: 2px solid #000;
font-weight: 700;}

nav{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 10px 50px;
    justify-self: center;
    align-self: left;
}

section{display: flex;
align-items: center;
justify-content: center;
padding-left: 50px;}

a{text-decoration: none;
color: #000;}

a:hover{font-size: larger;}

.logo{
color: #000;}
nav ul{display: flex;
    justify-content: left;
    gap: 20px;
}

.nav-bar-list{font-size: 12px;
font-weight: 600;
justify-content: center;
align-items: center;}

.right-section{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.right-section-text h1 {font-weight: 900;
font-size: 45px;
justify-self: center;
align-self: center;
color: #3c2e60;
width: 60%;}

.right-section-text span{color: #5955b3;
font-size: 50px;}
.right-section-text p{color: #b8b8b8;
font-size: 14px;}
